.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
    
}
