.container{
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hexcolors{
    border: 1px solid black;
    text-align: center;
}
.hexcolors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: changecolor 5s infinite alternate;
}
.hexcolors h2{
    border: 1px solid black;
    font-size: 2rem;
    margin-top: 15%;

}
@keyframes changecolor {
    0%{
        color:indigo;

    }
    20%{
        color:rgb(186, 106, 36);
        
    }
    40%{
        color:rgb(35, 207, 246);
        
    }
    60%{
        color:rgb(213, 60, 137);
        
    }
   80%{
        color:rgb(23, 219, 55);
        
    }
    100%{
        color:rgb(47, 227, 182);
        
    }
}